body {
    background-color: black;    
}

h1 {
    color: white;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

li {
    color: white;
}

/*revoir les img */
#img_macncheese {
    width: 25px;
    left: 0px;
    right: 0px;
}

